body{
    width: 60%;
    margin: 30px auto;
  }
  span.desc::after{
    content: " \25B2";
  }
  span.asc::after{
    content: " \25BC"
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }